/* ======== Variables ======== */
/* ======== Mix-ins ======== */
/* Main navigation */
#navigation, #navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

#navigation li {
  margin: 0;
  padding: 0;
}

#navigation > li {
  position: relative;
  display: inline-block;
  margin: 0 0 0 20px;
}

#navigation > li:first-child {
  margin: 0;
}

#navigation > li > a {
  display: block;
}

/* Second level */
#navigation > li ul {
  display: none;
  position: absolute;
  z-index: 100;
  top: 32px;
  left: 0;
  width: 200px;
}

#navigation > li:hover > ul {
  display: block;
}

#navigation > li > ul > li > a {
  display: block;
}

/* Mobile menu */
.menu-toggle {
  display: none;
}

/*================================================
  Media queries
================================================*/
@media screen and (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }
}
